@import './variables.scss';
@import './journal.styles.scss';
@import './window.styles.scss';
@import './menu-bar.styles.scss';

body {
  background: box;
  background-color: $secondary-color;
  height: 100%;
  width: 100%;
}

.desktop {
  background: inherit;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  font-family: $font-family;
  height: 100%;
  width: 100%;
}

button {
  background-color: transparent;
  border: none;
  color: $accent-color;
  font-size: 14px;
  font-family: $font-family;
  cursor: pointer;
  &:hover {
    color: $accent-color;
  }
}
