@import './variables.scss';

.journal-body {
  display: flex;
  height: $window-height - $window-menu-bar-height;

  .journal-content {
    flex-direction: column;
    margin-left: 1%;
    width: 100%;
  }

  .journal-side-bar {
    border-right: 1px solid $accent-color;
    flex-direction: column;
    font-size: small;
    width: 30%;
  }
}
