@import './variables.scss';

.journal-side-bar {
  font-size: small;
  width: 30%;

  ::after {
    position: absolute;
    border-left: 1px solid $accent-color;
    right: -1rem;
    height: 100%;
  }
}

.journal-body {
  width: auto;
}