$primary-color: #3366FF;
$secondary-color: #202020;
$accent-color: #CCCCCC;
$font-family: 'Courier New', Courier, monospace;

// menu bar
$menu-bar-buffer: 30px;
$menu-item-width: 65px;
// window
$window-height: 300px;
$window-width: 400px;
$window-menu-bar-height: 25px;