@import './variables.scss';

.window {
  width: 400px;
  height: 300px;
  background-color: $secondary-color;
  border: 1px solid $primary-color;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  font-family: $font-family;
}

.window-menu-bar {
  background-color: lighten($secondary-color, $amount: 6);
  color: $accent-color;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 25px;
  border-bottom: 1px solid $primary-color;
  font-family: $font-family;
}

.window-menu-bar .menu-buttons {
  margin: 0 0.25%;
  padding: 0.6% 0.1% 0.6% 0.1%;
  
  button {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 1px;
    border-left-width: 0px;
    border-style: solid;
    border-color: darken($accent-color, 2);
    font-family: $font-family;
    font-size: 14px;
    text-transform: uppercase;
    cursor: pointer;
  }

  button:hover {
    background-color: $primary-color;
  }
}

.window-menu-bar .window-buttons {
  cursor: pointer;
  margin: 0 0.25%;
  padding: 0.6% 0.1% 0.6% 0.1%;
  
  button {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-left-width: 1px;
    border-style: solid;
    border-color: darken($accent-color, 2);
    font-family: $font-family;
    font-size: 14px;
    text-transform: uppercase;
  }

  button:hover {
    background-color: $primary-color;
  }

  button:active {
    background-color: darken($primary-color, 6);
  }
}

.window-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
  color: $accent-color;
  font-family: $font-family;
}

.window-content {
  padding: 10px;
  overflow: auto;
  font-family: $font-family;
}