$primary-color: #3366FF;
$secondary-color: #202020;
$accent-color: #CCCCCC;
$menu-bar-buffer: 30px;
$font-family: 'Courier New', Courier, monospace;

body {
  background: box;
  background-color: $secondary-color;
}

.desktop {
  background: inherit;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  font-family: $font-family;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.window {
  width: 400px;
  height: 300px;
  background-color: $secondary-color;
  border: 1px solid $primary-color;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: $menu-bar-buffer;
  margin: 10px $menu-bar-buffer;
  font-family: $font-family;
  z-index: 1;
}

.window-header {
  background-color: $primary-color;
  color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 25px;
  border-bottom: 1px solid $primary-color;
  font-family: $font-family;
}

.window-title {
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
  color: $accent-color;
  font-family: $font-family;
}

.window-content {
  padding: 10px;
  overflow: auto;
  font-family: $font-family;
}

button {
  background-color: transparent;
  border: none;
  color: $secondary-color;
  font-size: 14px;
  font-family: $font-family;
  cursor: pointer;
  &:hover {
    color: white;
  }
}

.menu-bar {
  background-color: $primary-color;
  display: flex;
  align-items: center;
  height: 25px;
  width: 100%;
  font-family: $font-family;
}

.menu {
  border: 1px solid white;
  color: $secondary-color;
  cursor: pointer;
  font-size: 14px;
  font-family: $font-family;
  margin: 0 0.25%;
  padding: 0.1%;
  &:hover {
    color: white;
  }
}

.menu-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: auto;
  background-color: $primary-color;
  color: $secondary-color;
  border: 1px solid $primary-color;
  font-family: $font-family;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: $secondary-color;
    color: $primary-color;
  }

  &:active {
    border: 1px solid $secondary-color;
  }
}

.menu:hover .menu-item {
  display: block;
}
